/* Header */
.page-header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
/* Logo */

/* Site nav */

/* Section */

/* Icon */

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  transform: scale(1);
  transition: all var(--timing-duration-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.1);
}
.modal {
  position: relative;
  z-index: 10;
  width: 528px;
  height: 580px;
  background-color: var(--primary-bg-color);
  padding: 40px;
}
.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-field {
  display: block;
  outline: none;
  margin-bottom: 10px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.modal-wrap {
  display: block;
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transform: border-color var(--timing-duration-function);
}
.modal-message {
  width: 100%;
  height: 120px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
}

.modal-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}
.modal-box {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid rgba(33, 33, 33, 1);
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.modal-term:checked + .modal-desc .modal-box {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 2px;
}
.modal-btn {
  padding: 10px 56px;
  margin: 0 auto;
}
/* Icon-modal */
.icon-close {
  width: 18px;
  height: 18px;
  text-align: center;

  transition: fill var(--timing-duration-function);
}
.close-button:hover .icon-close,
.close-button:focus .icon-close {
  fill: var(--accent-color);
}
.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);

  transition: fill var(--timing-duration-function);
}
.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}
.check-icon {
  width: 16px;
  height: 15px;
}
