/* Advanture */
.advanture-section {
  display: none;
  padding-top: 0;
  padding-bottom: 0;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.advanture {
  display: flex;
  margin-left: -30px;
  &__item {
    margin-left: 30px;
    flex-basis: calc((100% - 90px) / 3);
    position: relative;
  }
  &__text {
    color: var(--subtitle-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
