/* Logo */
.logo {
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.colortext {
  color: var(--accent-color);
}
.header-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.footer-logo {
  color: var(--subtitle-color);
  display: block;
  margin-bottom: 20px;
  @media screen and (min-width: 480px) {
    font-size: 24px;
    line-height: 1.16;
  }
}
