.modal {
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: 528px;
  min-height: 580px;
  background-color: var(--primary-bg-color);
  padding: 40px;
  transform: scale(1);
}
.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.icon-close {
  width: 18px;
  height: 18px;
  text-align: center;

  transition: fill var(--timing-duration-function);
  .close-button:hover &,
  .close-button:focus & {
    fill: var(--accent-color);
  }
}
