/* Modal-form */
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}
.modal__field {
  display: block;
  outline: none;
  margin-bottom: 10px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}
.modal__wrap {
  display: block;
  position: relative;
}
.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transform: border-color var(--timing-duration-function);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal__message {
  width: 100%;
  height: 120px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal__box {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid rgba(33, 33, 33, 1);
  .modal__term:checked + .modal__desc & {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    border-radius: 2px;
  }
}
.modal__link {
  color: var(--accent-color);
}
.modal-btn {
  width: 200px;
  height: 50px;
  padding: 10px 56px;
  margin: 0 auto;
}
.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
  transform: translateY(-50%);

  transition: fill var(--timing-duration-function);
  .modal__input:hover + &,
  .modal__input:focus + & {
    fill: var(--accent-color);
  }
}

.check_icon {
  width: 16px;
  height: 15px;
}
