:root {
  --primary-text-color: #212121;
  --title-text-color: #000000;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --subtitle-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --timing-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
